/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap.css
*= require bootstrap-responsive.min.css
*= require font-awesome.min.css
*= require sb-admin-2.css
*= require_self
*/
/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav > li {
    display: inline-block;
    float: left;
}

.top-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

.text-white {
    color: #fff;
}

.margin-20 {
    margin: 20px;
}

.margin-t10 {
    margin-top: 10px;
}

.margin-t20 {
    margin-top: 20px;
}

.margin-l10 {
    margin-left: 10px;
}

.margin-b10 {
    margin-bottom: 10px;
}

.width-350 {
    width: 350px !important;
}

.float-left {
    float: left;
}

.btn-transparent, .btn-transparent-blue {
    color: #ffffff;
    border: 1px solid #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    line-height: 23px;
    width: inherit;
    margin: 2px;
}

body {
    background: url("../images/wall-background.png") repeat fixed;
}

.navbar-inverse .navbar-brand {
    color: #39D0E4;
}

.navbar-inverse {
    background-color: #fff;
}

.footer {
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 8px 8px 6px;
}

.margin-b100 {
    margin-bottom: 100px
}

.margin-b20 {
    margin-bottom: 20px
}

.margin-t45 {
    margin-top: 45px;
}

.right-detail {
    float: right;
    color: #ffffff;
    text-align: right;
    margin-top: 100px;
    margin-right: 24px;
}

a.navbar-brand:hover, .btn-transparent-blue {
    color: #2ABAFA !important;
}

div.standard-user-welcome {
    text-align: center;
    margin-top: 6%;
}

div.standard-user-welcome p {
    font-size: 30px;
    line-height: 55px;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
}

div.standard-user-welcome h2 {
    font-size: 42px;
    color: #fff;
    text-align: center;
    margin-bottom: 4px;
}

div.standard-user-welcome a {
    display: inline-block
}

#sign-in-with-twitter {
    margin-left: 38%;
    margin-right: 37%;
    margin-top: 1%;
}